<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    {% block style %}{% endblock %}

    <title>{% block title %}Builder Dashboard{% endblock %}</title>
  </head>

  <body>
    {% include 'builder/components/builder_header.html' %}
    <div class="dashboard-container">
      {% include 'builder/components/builder_sidebar.html' %}

      <div class="main-content">{% block content %}{% endblock %}</div>
    </div>

    {% include 'builder/components/builder_footer.html' %}
  </body>
</html>
